.UserMan_container{
	width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.h2{
    display: flex;
    justify-content: center;
    
}
.managment_main{
	display: flex;
    flex-direction: row;
}

.managment_page{
    width: 30px;
	top:300px;
	position: absolute;
}

.managment_page input{
    margin: 10px;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

.allUsers_container{
    width: auto;
	font-size: 16px;
	background: #76a2ff;
	padding: 30px 50px 15px 10px;
	margin-top: -190px;
	border: 5px solid #53687E;
	top:300px;
	position:absolute;
    
}

.userUl{
    border: 5px solid darkcyan;
	font-size: 16px;
	color: #fff;
}

.userUl button{
    width: auto;
    height: auto;
    
}
.form-style-4{
	width: auto;
	font-size: 16px;
	background: #76a2ff;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
   
	position:relative
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],

.form-style-4 label
{
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	width: 200px;
}
.form-style-4 input[type=text]
{
	background:fixed;
	border: none;
	border-bottom: 1px dashed #0e0f10;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}


.form-style-4 input[type=text]:focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #f8fcf7;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
